<!DOCTYPE html>
<html>
  <head>
    <title> QuizZapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-fixed">
    <% flash.each do |type, msg| %>
      <div class="alert alert-info alert-dismissable"><%=msg%></div>
    <% end %>
    <div class="wrapper">
      <%= yield %>
    <div>
  </body>
</html>